<ion-view title="产品详情">
    <ion-nav-buttons side="left">
        <button ng-click="back(0)" class="button button-clear button-light ion-ios7-arrow-back "></button>
    </ion-nav-buttons>

    <ion-content ng-hide="contentHide">

        <div class="detailed_bannerImg">
            <div id="detailedSwiper"></div>
        </div>

        <div class="detailed-title" ng-bind="detailedDatas.detailedTitle"></div>

        <div class="list list-inset detailedList" ng-hide="cqcsHide">
            <div class="item detailedItem">
                <div>产品单价: <span ng-bind="detailedDatas.price"></span></div>
            </div>
            <div class="item detailedItem">
                <div>产品库存: <span ng-bind="detailedDatas.balance"></span></div>
            </div>
            <div>
                <div class="item detailedItem" ng-repeat="extFeatrues in detailedDatas.extFeatrues">
                    <div ><span ng-bind="extFeatrues.extFeatrue"></span></div>
                </div>
            </div>
            <div class="item detailedItem">
                <div>上市日期: <span ng-bind="detailedDatas.data"></span></div>
            </div>
        </div>
        <div id="remark" ng-bind-html="detailedDatas.remark"></div>
        <div style="height: 120px;"></div>
    </ion-content>

    <div class="shopping-cart" ng-hide="cartHide" align="left">
        <div class="row">
            <button class="button col col-30 toAlbb" ng-if="isToAl === true" id="send" ng-click="iToAlbb()">
                前往诚信通
            </button>
            <button class="button col col-30 spBtn" id="send" ng-click="iaddToShoppinCar()">
                加入购物车
            </button>
            <button class="button button-light button-clear col col-20" id="goToDetailed" ng-click="toShopCar()">
                <i class="ion-ios7-cart-outline"></i>
            </button>
        </div>
    </div>


</ion-view>