<ion-popover-view ng-controller="rightMenuCtrl" style="width: 130px; box-shadow: 0 1px 3px rgba(0,0,0,.4);" class="">
    <ion-content style="background-color: #ffffff;">
        <div class="list">
            <a href="#/index" class="item item-icon-left" ng-click="rightMenu.hide()">
                <i class="icon ion-home dark"></i>
                首 页
            </a>
            <a href="#/ceta/product" class="item item-icon-left" ng-click="rightMenu.hide()">
                <i class="icon icon-th-large dark"></i>
                产 品
            </a>
            <a href="#/message" class="item item-icon-left" ng-click="rightMenu.hide()">
                <i class="icon ion-chatbox-working dark"></i>
                留 言
            </a>
            <a href="javascript:void(0)" class="item item-icon-left" ng-click="rightMenu.hide()">
                <i class="icon ion-ios7-telephone dark"></i>
                联 系
            </a>
            <a href="#/tab/about" class="item item-icon-left" ng-click="rightMenu.hide()">
                <i class="icon ion-document dark"></i>
                企 业
            </a>
            <a href="javascript:void(0)" ng-click="isUserLogin()" class="item item-icon-left">
                <i class="icon ion-android-contact dark" style="font-size: 25px;"></i>
                买 家
            </a>
            <a href="javascript:void(0)" class="item item-icon-left" ng-click="isAdminLogin();">
                <i class="icon ion-person dark"></i>
                卖 家
            </a>
        </div>
    </ion-content>
</ion-popover-view>
