@charset "utf-8";
body{ padding:0px; margin:0; }
#main{  width:100%; height:400px;
           margin:0; padding:0;} 
#leftmenu{ width:200px;overflow:hidden;}
#maincontent{ overflow:auto;margin:10px;

}
.l-link{ display:block; line-height:22px; height:22px; padding-left:16px;border:1px solid white; margin:4px;color:#333}
.l-link-over{ background:#FFEEAC; border:1px solid #DB9F00;}
.i-spacing-first{font-style:normal;width:90px;float:left;white-space:normal;word-wrap:break-word;word-break:break-all;}
.i-spacing-follow{font-style:normal;padding-right:30px;float:left;white-space:normal;word-wrap:break-word;word-break:break-all;}
.li-line{clear:both;padding-top:15px;}

.button-submit,.button-cancel{width:80px; margin-right:20px; padding-bottom:2px;}

.button-common{width:80px; margin-right:20px; padding-bottom:2px;}

.popImgMenu { width:150px; height:auto; background-color:#000; FILTER:alpha(opacity=60); opacity:0.8; -moz-opacity:0.8; position:absolute; left:0px; bottom:0px; padding-top:10px;padding-bottom:10px; color:#fff; font-size:12px; line-height:200%;}
.popImgMenu a{color:white;padding-right:10px;}

.spanField{display:block;font-style:italic;font-weight:bold}


#beautiful {
	margin: 3rem auto auto auto;
	padding-top: 2rem;
	padding-bottom: 5rem;
	padding-left: 5rem;
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#eeeeee,
		endcolorstr=#ffffff, gradientType=0);
	background: -moz-linear-gradient(top, #eeeeee, #ffffff);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eeeeee),
		to(#ffffff));
	background: -o-linear-gradient(top, #eeeeee, #ffffff);
	box-shadow: 0px -5px 7px #999999;
	border-radius: 1rem;
	width: 45rem;
}

#etitle {
	font-size: 2rem;
	color: #db4a39;
	text-align: center;
}

#whereimg {
	float: left;
	margin-left: 2rem;
}

#whatfont {
	float: left;
	font-size: 2rem;
	margin-left: 6rem;
	margin-top: 3rem;
	color: #db4a39;
	
	letter-spacing: 1rem;
	font-weight: bold;
	text-shadow: 0px 0px 0 rgb(225, 225, 225), 1px 1px 0 rgb(211, 211, 211),
		2px 2px 0 rgb(196, 196, 196), 3px 3px 0 rgb(181, 181, 181), 4px 4px 0
		rgb(166, 166, 166), 5px 5px 0 rgb(152, 152, 152), 6px 6px 0
		rgb(137, 137, 137), 7px 7px 0 rgb(122, 122, 122), 8px 8px 7px
		rgba(0, 0, 0, 0.45), 8px 8px 1px rgba(0, 0, 0, 0.5), 0px 0px 7px
		rgba(0, 0, 0, .2);
}