<!DOCTYPE html>
<html ng-app="ionicApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>杭州淘冠科技</title>


    <script src="mobileJs/publicParameter.js" type="text/javascript" ></script>
    <script src="mobileJs/privateVerifiction.js" type="text/javascript" ></script>
    <script src="mobileJs/getOrPostRequest.js" ></script>
    <script src="mobileJs/CJL.0.1.min.js" ></script>
    <script src="mobileJs/loadingImg.js" ></script>
    <script src="mobileJs/ibanner.js" ></script>
    <script src="mobileJs/ibanners.js"></script>

    <link href="mobileCss/ionic.min.css" rel="stylesheet">
    <link href="mobileCss/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/paegAll.css" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?type=quick&ak=0pNtN4cUMQFSGKzgHUDV07LZ&v=1.0"></script>

    <script language="javascript">
        try{
            if(privateVerifiction.verifiction.getUrlParm("cordovaFlag") === "1"){
                document.write("<script type='text/javascript' charset='utf-8' src='cordova.js'><\/script>");
                document.close();
            }else{}
        }catch (error) {}
    </script>
</head>
<body ng-controller="mainCtrl">
    <ion-nav-bar class="ibarColor " animation="nav-title-slide-ios7" ng-style="navStyle" ng-hide="navBarIsHide"></ion-nav-bar>
    <ion-nav-view animation="slide-left-right"></ion-nav-view>

    <div class="popup selectMenu" ng-class="{'popup-showing active': openMenu,'':closeMenu}">
        <button class="button" ng-click="toAdminMenu()">
            <i class="ion-person"></i>
            <span>我是卖家</span>
        </button>
        <button class="button" ng-click="toPersonal()">
            <i class="ion-person"></i>
            <span>我是买家</span>
        </button>
    </div>


    <div class="tabs tabs-icon-top tabs-light" ng-hide="tabBarHide">
        <a href="javascript:void(0)" class="tab-item" ng-click="tabBarToPage(0)">
            <i class="icon" ng-class="{'ion-ios7-home':indexIsShow,'ion-ios7-home-outline':categoryIsShow || shoppingCarIsShow}"></i>
            首 页
        </a>

        <a href="javascript:void(0)" class="tab-item" ng-click="tabBarToPage(1)">
            <i class="icon" ng-class="{'ion-ios7-keypad':categoryIsShow,'ion-ios7-keypad-outline':indexIsShow || shoppingCarIsShow}"></i>
            分 类
        </a>

        <a href="javascript:void(0)" class="tab-item" ng-click="tabBarToPage(2)">
            <i class="icon" ng-class="{'ion-ios7-cart':shoppingCarIsShow,'ion-ios7-cart-outline':indexIsShow || categoryIsShow}"></i>
            购物车
        </a>

         <a href="javascript:void(0)" class="tab-item" ng-click="OpenMenus()">
            <i class="icon ion-ios7-person-outline"></i>
            我的
        </a>
    </div>


<script id="indexBak.html" type="text/ng-template">
    <ion-view title="首 页">
        <ion-content>
            <div  ng-hide="bodyHide" style="height: 100%;width:100%;background-color: #f9f9f9;position: fixed;top: 0; z-index: 9999999;"></div>
            <ion-refresher on-refresh="indexRefresh()" pulling-text="下拉刷新..." refreshing-text="正在加载..." pulling-icon="ion-arrow-up-c" refreshing-icon="icon-spinner icon-spin">
            </ion-refresher>
                <div class="bannerImg" id="indexSwiperView">
                    <div id="indexSwiper"></div>
                </div>

            <div class="row iBar">
                <a href="#/about" class="button button-clear col col-33">
                    <span class="iBarIcon" id="aboutItem">
                        <i class="ion-ios7-information-empty"></i>
                    </span>
                    <span class="ibarText">企业介绍</span>
                </a>
                <a href="#/contact" class="button button-clear col col-33">
                    <span class="iBarIcon" id="contactItem">
                        <i class="ion-ios7-telephone"></i>
                    </span>
                    <span class="ibarText">联系方式</span>
                </a>
                <a href="#/message" class="button button-clear col col-33">
                    <span class="iBarIcon" id="message">
                        <i class="ion-chatboxes"></i>
                    </span>
                    <span class="ibarText">评价留言</span>
                </a>
            </div>
            <div id="mainContent">
            <div class="newProPanel" ng-hide="newProIsHide">
                <div class="newProRow row floorMain">
                    <div class="col col-34 newProItem newProPadding-right">
                        <div class="newProItemBlock" id="newProItemTitle">新品推荐</div>
                    </div>
                    <div class="col col-34 newProItem newProPadding-center">
                        <a href="javascript:void(0)" class="newProItemBlock" ng-click="showDetailed(newProDatas.newIndexImgs[0].newProNum)">
                            <img  _lazysrc="{{newProDatas.newIndexImgs[0].newProImg}}" onerror=this.src=errImg>
                        </a>
                    </div>
                    <div class="col col-34 newProItem newProPadding-left">
                        <a href="javascript:void(0)" class="newProItemBlock" ng-click="showDetailed(newProDatas.newIndexImgs[1].newProNum)">
                            <img   _lazysrc="{{newProDatas.newIndexImgs[1].newProImg}}" onerror=this.src=errImg>
                        </a>
                    </div>
                </div>
                <div class="row newProRow floorMain" ng-repeat="newImgs in newProDatas.newProImgs">
                    <div class="col col-34 newProItem newProPadding-right">
                        <a href="javascript:void(0)" class="newProItemBlock" ng-click="showDetailed(newImgs[0].newProNum)">
                            <img  _lazysrc="{{newImgs[0].newProImg}}" onerror=this.src=errImg>
                        </a>
                    </div>
                    <div class="col col-34 newProItem newProPadding-center">
                        <a href="javascript:void(0)" class="newProItemBlock" ng-click="showDetailed(newImgs[1].newProNum)">
                            <img  _lazysrc="{{newImgs[1].newProImg}}" onerror=this.src=errImg>
                        </a>
                    </div>
                    <div class="col col-34 newProItem newProPadding-left">
                        <a href="javascript:void(0)" class="newProItemBlock" ng-click="showDetailed(newImgs[2].newProNum)">
                            <img  _lazysrc="{{newImgs[2].newProImg}}" onerror=this.src=errImg>
                        </a>
                    </div>
                </div>
            </div>

        </div>
            <div class="padding"><a class="button button-block button-dark toALlProBtn" style="background-color: #ef575c;" ng-click="morePro()" ng-hide="proBtnHide">查看所有产品</a></div>

            <div style="height: 50px;"></div>


        </ion-content>


        <div class="tabs tabs-icon-top tabs-light">
            <div class="tab-item">
                <i class="icon ion-ios7-home"></i>
                首 页
            </div>

            <div class="tab-item">
                <i class="icon ion-ios7-keypad-outline"></i>
                分 类
            </div>

            <div class="tab-item">
                <i class="icon ion-ios7-cart-outline"></i>
                购物车
            </div>
            <div class="tab-item">
                <i class="icon ion-ios7-person-outline"></i>
                我的
            </div>

        </div>
    </ion-view>
</script>

    <script src="mobileJs/ionic.bundle.min.js"></script>
    <script src="js/pageAll_bak.js" type="text/javascript"></script>

</body>
</html>

